@CHARSET "UTF-8";

.imagemCentralizada{
	
	width: 100%;
height: 20%;
background-size: 100% 100%;
-webkit-background-size: 100% 100%; /*Chrome*/
-moz-background-size: 100% 100%; /*Mozila*/
-ms-background-size: 100% 100%; /*Internet Explorer*/
-o-background-size: 100% 100%; /*Opera*/
}
.divTopo{
	padding-bottom: 5px;
}
.divCabecalho{
	padding-bottom: 5px;
}
.ui-widget, .uiwidget .uiwidget {
	font-size:100% !important;
}

