.gradle
.settings
.project
bin/
build/
c:/
d:/
src/main/webapp/VAADIN/widgetsets/
src/main/webapp/VAADIN/gwt-unitCache/
.classpath
build/*
build/c:/
build/c/
c/
*.gen
c/*
*segments_1*

*.fdt

*.fdx

*.frq

*.tis

*.tii

*.fnm

*.nrm

*.prx

dotcompanyerp.iml
dotcompanyerp.ipr
dotcompanyerp.iws
src/main/resources/dc/framework/DCWidgetSet.gwt.xml
CHANGES.txt